html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* FROM BLOG STYLE */
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    height: 100%;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}
/* CART */
.img-cart {
    height: 15px;
    margin-bottom: 2px;
    margin-right: 10px;
}

.cart-link  {
    color: rgba(0,0,0,.5);
}

/* SLIDER */
.section-top {
    margin: 0px;
}

/* NAVBAR */
.navbar {
    margin-bottom: 0px !important;
}

.navbar-top {
    min-height: 10px;
    height: 30px;
    background-color: lightgrey;
    border: none;
}

.navbar-main {
    padding-left: 100px;
    padding-right: 100px;
    height: 50px;
}

/* BASKET-NAVBAR */
.basket-container {
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.basket-items {
    position: absolute;
    top: 52px;
    width: 100%;
    background-color: greenyellow;
    z-index: 10;
    padding: 10px;
}

/* WRAPPER */
.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

/* PRODUCT CARD */
.product-item{
    height: 500px;
    background-color: white;
    border: 1px solid lightgrey;
    position: relative;
    padding: 10px 0 10px 0;
    text-align: center;
    margin-bottom: 10px;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 10%
}

.discount {
    position: absolute;
    top: 35%;
    left: 0;
    background-color: lightgreen;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.form-error {
    color: red;
}

/* SECTION DELIVERY */
.section-delivery {
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}

/* TAB DESCRIPTION */
.product-description-tabs {
    padding: 10px;
}


/* IMAGES IN PRODUCT.HTML */
.product-image-item {
    padding: 5px;
    margin-bottom: 5px;
}

/* LOGO */
.img-logo {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.f-300 {
    font-weight: 300;
}

/* FOOTER */
.footer {
    position: relative;
    margin-top: -180px; /* negative value of footer height */
    height: 180px;
    clear: both;
    background-color: white;
}