html, body {
    height: 100%;
    max-height: 100%;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.top-container {
    padding-top: 10%;
}

.general-container {
    background: url("https://azmind.com/premium/marco/v2-3/layout-15/assets/img/backgrounds/1@2x.jpg");
    height: 100%;
    font-weight: 100;
}

.title {
    text-align: center;
    font-weight: 100;
}

.btn-orange {
    background-color: orange;
    color: white;
    border: none;
}

.btn-orange:hover {
    background-color: darkorange;
    color: white;
    border: none;
}

