<header>
<!-- TOP NAVBAR-->
  <div id="mobile_menu">
    <div class="mobile_menu_link">
      <a href="/">Главная</a>
      <a href="#">Доставка и оплата</a>
      <a href="#">Контакты</a>
    </div> 
  </div>
  
  <div id="header_menu">
    <div class="content">
      <div class="content_padding">
        <div class="header_menu_left">
            <div class="header_menu_left_sm">
              <div class="header_menu_group">
                <a class="header_menu_open">
                  <i class="fa fa-bars"></i>
                </a>
              </div>
            </div>
            <div class="header_menu_left_md">
              <div class="header_menu_group">
                  <a class="header_menu_open">
                    <i class="fa fa-bars"></i>
                  </a>
                </div>
            </div>
            <div class="header_menu_left_lg">
              <a href="/">Главная</a>
              <a href="#">Доставка и оплата</a>
              <a href="#">Контакты</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>