

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-main">
  <div class="navbar-brand">Продажа цветов</div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Главная</a>
      </li>
      <li class="nav-item">

      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Букеты</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Корзины</a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="basket-container">
          <a href="{% url 'checkout' %}">Корзина <span id="basket_total_amount"></span><span id="basket_total_nmb">{% if products_total_nmb %}({{ products_total_nmb }}){% else %}(0){% endif %}</span></a>
          <div class="basket-items d-none">
            <ul class="">
              {% for product_in_basket in products_in_basket %}
              <li>
                {{ product_in_basket.product.name }} * {{ product_in_basket.nmb }} = {{ product_in_basket.total_price }} руб.
              <a href="" class="delete-item"
                 data-product_id="{{ product_in_basket.id }}"
              >x</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </li>
      <li>
        <span class="navbar-text">
          {% if user.is_authenticated %}
            <div class="nav-link">User: {{ user.get_username }} <a href="{% url 'logout' %}">Выйти</a></div>
          {% else %}
            <a class='nav-link' href="{% url 'login' %}">Войти</a>
          {% endif %}
        </span>
      </li>
    </ul>
  </div>
</nav>