{% extends 'base.html' %}

{% load static %}

{% block content %}


    <div class="container py-5">
        <div class="col-sm-8 offset-sm-2">

            <form method='post'> {% csrf_token %}
            {{ form.errors }}
<!--                Корзина-->
                <table class="table text-left">
                    <thead>
                        <tr>
                            <th>Название товара</th>
                            <th>Количество</th>
                            <th>Цена за единицу</th>
                            <th>Общая цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_in_basket in products_in_basket %}
                        <tr>
                            <td>{{ product_in_basket.product.name }}</td>
                            <td><input value="{{ product_in_basket.nmb }}"
                                    type="number" class="product-in-basket-nmb"
                                    name="product_in_basket_{{ product_in_basket.id }}"></td>
                            <td>
                                <span class="product-price">
                                    {{ product_in_basket.price_per_item|floatformat }} ₽
                                </span>
                            </td>
                            <td>
                                <span class="total_product_in_basket_amount">
                                    {{ product_in_basket.total_price|floatformat }} ₽
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="text-right">
                    <b>Сумма заказа: </b> <span id="total_basket_amount"></span> ₽
                </div>
                <hr>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-check form-check-custom">
                          <input class="form-check-input custom-bottom" type="checkbox" value="" id="note">
                          <label class="form-check-label" for="note">
                            Записка к букету
                          </label>
                        </div>
                        <div class="form-group note py-2 d-none">
                            <textarea class="form-control"
                                      name="{{ form.note.html_name }}" rows="3"></textarea>
                        </div>
                    </div>
                </div>
<!--                Информация о доставке-->
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="text-left py-2">Способ получения</h3>
                        <div class="form-group">
                            <div class="form-check form-check-custom">
                              <input class="form-check-input custom-bottom" type="radio" name="{{ form.is_delivery.html_name }}" id="delivery_true" value="true" checked>
                              <label class="form-check-label" for="delivery_true">
                                Доставка курьером
                              </label>
                            </div>
                            <div class="form-check form-check-custom">
                              <input class="form-check-input custom-bottom" type="radio" name="{{ form.is_delivery.html_name }}" id="delivery_false" value="false">
                              <label class="form-check-label" for="delivery_false">
                                Самовывоз (около м. Алексеевская)
                              </label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">

                    <div class="col-lg-12">
                        <h3 class="text-left py-2">Заказчик</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="client_name">Имя:</label>
                                        <input type="text" class="form-control"
                                        name="{{ form.name.html_name }}" id="client_name"
                                        value="">
                                        <span class="form-error">{{ form.name.errors }}</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="phone">Номер телефона:</label>
                                        <input type="text" class="form-control" name="{{ form.phone.html_name }}"
                                        id="phone" value="" >
                                        <span class="form-error">{{ form.phone.errors }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-check form-check-custom">
                          <input class="form-check-input form-check-custom__custom-button" type="checkbox" value="false"
                                 id="otherPerson" name="{{ form.is_another_person.html_name }}">
                          <label class="form-check-label form-check-custom__label" for="otherPerson">
                            Получатель - другой человек
                          </label>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="delivery-container">
                            <h3 class="delivery-container__heading text-left py-2">Доставка</h3>
                            <div class="row">
                                <div class="col-lg-6 name_other d-none">
                                    <div class="form-group">
                                        <label for="name_other">Имя получателя:</label>
                                        <input type="text" class="form-control"
                                        name="{{ form.name_other.html_name }}" id="name_other"
                                        value="">
                                    </div>
                                </div>
                                <div class="col-lg-6 phone_other d-none">
                                    <div class="form-group">
                                        <label for="phone_other">Номер телефона получателя:</label>
                                        <input type="text" class="form-control" name="{{ form.phone_other.html_name }}"
                                        id="phone_other" value="">
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="delivery_address" class="delivery_address_label">
                                    Адрес доставки: город, улица, номер дома, подъезда, квартиры
                                </label>
                                <input type="text" class="form-control"
                                name="{{ form.delivery_address.html_name }}" id="delivery_address"
                                value="">
                                <input type="text" readonly class="form-control-plaintext d-none" id="pickup_address" value="г. Москва, Рижская площадь 9 стр.4">
                                <span class="form-error">{{ form.delivery_address.errors }}</span>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group date">
                                        <label for="delivery_date" class="delivery_date_label">
                                            Дата доставки:
                                        </label>
                                        <input type="text" class="form-control"
                                        name="{{ form.delivery_date.html_name }}" id="delivery_date"
                                        value="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="delivery_time" class="delivery_time_label">Время доставки:</label>
                                        <select class="form-control" id="delivery_time">
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" placeholder="Комментарий к заказу"
                                          name="{{ form.comments.html_name }}" rows="3"></textarea>
                            </div>
                        </div>
                        <div class="pickup-container d-none">
                            <h3 class="text-left py-2">Самовывоз</h3>
                        </div>
                    </div>

                    </div>

                <div class="text-right py-2">
                    <button class="btn btn-primary btn-lg" type="submit">Заказать</button>
                </div>
            </form>
        </div>

        </div>
    </div>

{% endblock %}