{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">

                <h3 class="text-center">Товары в корзине</h3>


            <form method='post'> {% csrf_token %}
         
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label for="client_name" class="col-sm-2 col-form-label">Имя</label>
                            <div class="col-sm-12">
                                <input type="name" class="form-control" 
                                name="{{ form.name.html_name }}" id="client_name" 
                                value="{{ request.POST.name }}" placeholder="Имя">
                                <span class="form-error">{{ form.name.errors }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label for="phone" class="col-sm-2 col-form-label">Телефон</label>
                            <div class="col-sm-12">
                                <input type="phone" class="form-control" name="{{ form.phone.html_name }}" 
                                id="phone" value="{{ request.POST.phone }}" placeholder="Телефон">
                                <span class="form-error">{{ form.phone.errors }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table text-left">
                    <thead>
                        <tr>
                            <th>Название товара</th>
                            <th>Количество</th>
                            <th>Цена за единицу</th>
                            <th>Общая цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product_in_basket in products_in_basket %}
                        <tr>
                            <td>{{ product_in_basket.product.name }}</td>
                            <td><input value="{{ product_in_basket.nmb }}" 
                                    type="number" class="product-in-basket-nmb"
                                    name="product_in_basket_{{ product_in_basket.id }}"></td>
                            <td>
                                <span class="product-price">
                                    {{ product_in_basket.price_per_item }}
                                </span>
                            </td>
                            <td>
                                <span class="total_product_in_basket_amount">
                                    {{ product_in_basket.total_price }}
                                </span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="text-right">
                    <b>Сумма заказа: </b> <span id="total_basket_amount"></span>
                </div>
                <hr>
                <div class="text-right">
                    <button class="btn btn-primary btn-lg" type="submit">Заказать</button>
                </div>
            </form>
        </div>

    </div>
</div>

{% endblock %}