{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-2">
                    <h1 class="text-center f-300">
                        БЕРЕЖНАЯ и БЫСТРАЯ ДОСТАВКА ЭМОЦИЙ
                    </h1>
                </div>
                <p class="container__description">
                    Flori Pacco – это незаметное связующее звено, которое доставит ваш букет до адресата. 
<br>
<br>
Доставка осуществляется в пределах Москвы и ближайшего Подмосковья. 
<br>
<br>
<b>Стоимость доставки:</b>
<br>
<br>
В пределах МКАДа -300 руб
<br>
<br>
За пределами МКАД - 300 руб + 50 руб/км*
<br>
<br>
При заказе свыше 7000 руб - БЕСПЛАТНО.
<br>
<br>
*- Расчет расстояния от МКАД. Расстояние рассчитывается путем проложения маршрута по дорогам общего пользования от ближайшего съезда на МКАД к месту, где находится получатель букета. Затрудняетесь с расчетом? Уточните у менеджера по телефону +7 (925) 522-20-77
<br>
<br>
Также возможна доставка в другие города и даже страны. Стоимость согласуется индивидуально.
<br>
<br>
Доставка осуществляется круглосуточно. 
<br>
<br>
По вашему желанию , мы можем доставить букет автомобилем бизнес-класса и класса люкс
<br>
<br>
Если вы хотите заказать доставку цветов, но у вас нет информации о точном адресе получателя, то стоит лишь указать в заказе ее контактный номер.
Мы сами деликатно узнаем удобное для нее место и время.
                </p>
            </div>
        </div>
    </div>

{% endblock %}