{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="section-top">
        <img src={% static 'img/slider0.jpg'%} class="img-fluid">
    </div>
    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">
                        Новые поступления
                    </h1>
                </div>
                {% for product_image in product_images %}
                <div class='col-sm-3'>
                    {% include 'landing/product_item.html' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}