{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="section section1">
        <div class="container">
            <div class="row">
                <div class="col-md-12 py-2 header-custom">
                    <div class="text-center f-200">
                        Популярные товары
                    </div>
                </div>
                {% for product_image in product_images %}
                <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                    {% include 'landing/product_item.html' %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}