{% extends 'base.html' %}

{% load static %}

{% block content %}

<div id="catalog">
    <div class="content">
        <div class="content_padding">
            <div class="catalog_head">
                <h1 class="head_main_h_first">Популярные товары</h1>
            </div>
            <div class="catalog_block">
                <div class="catalog_middle">
                    <div class="catalog_content">
                        
                        {% for product_image in product_images %}
                            {% include 'landing/product_item.html' %}
                        {% endfor %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}