<div class="catalog_item">
    <a href="{% url 'product' product_image.product.id %}" class="catalog_border">
        <img src="{{ product_image.image.url }}" alt="" class="img-fluid">
        <span class="catalog_label">
        </span>
        <span class="catalog_description">
            <span class="catalog_title">{{ product_image.product.name|truncatechars:32 }}</span>
            <span class="catalog_flowers">{{ product_image.product.description|truncatechars:25 }}
            </span>
            <span class="catalog_price">
                <span class="catalog_price_now">{{ product_image.product.price|floatformat }} ₽</span>
            </span>
            <span class="catalog_button">
                <span>Купить</span>
            </span>
        </span>
    </a>
</div>