html, body {
    height: 100%;
    max-height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    background-color: #f7f7f7;
}

/* FROM BLOG STYLE */
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    height: 100%;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
    background: #484848;
}

.text-white {
    color: #f7f7f7 !important;
}

.text-flori {
    color: #fbb67f !important;
}

.header_logo_phone {
    display: block;
    color: #3b3b3b;
    text-decoration: none;
    font-size: 15px;
    padding-top: 0px;
    line-height: 18px;
}

.header_logo_right {
    float: left;
    width: 40%;
    text-align: right;
    padding-top: 20px;
}

.header_logo_left {
    float: left;
    width: 40%;
    text-align: left;
    padding-top: 20px;
}

p {
    white-space: pre-line;
}

.header-custom {
    font-size: 36px;
}
/* CART */
.img-cart {
    height: 15px;
    margin-bottom: 2px;
    margin-right: 10px;
}

.cart-link  {
    color: rgba(0,0,0,.5);
}

/* SLIDER */
.section-top {
    margin: 0px;
}

/* NAVBAR */
.navbar {
    margin-bottom: 0px !important;
    background: #a53829;
}

.navbar-top {
    min-height: 10px;
    height: 30px;
    border: none;
}

.navbar-main {
    padding-left: 100px;
    padding-right: 100px;
    height: 50px;
}

/* BASKET-NAVBAR */
.basket-container {
    position: relative;
    width: 400px;
    padding: 15px 10px;
}

.basket-items {
    position: absolute;
    top: 52px;
    width: 100%;
    background-color: greenyellow;
    z-index: 10;
    padding: 10px;
}

/* TEST NAVBAR  */

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    display: block;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* END TEST NAVBAR */

/* WRAPPER */
.wrapper{
    min-height: 100%;
}

.wrapper-content{
    overflow: auto;
    padding-bottom: 180px; /* must be same height as the footer */
}

/* PRODUCT CARD */
.product-item {
    height: auto;
    border: 1px solid #d6dcdf;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    background-color: white;
}

.product-price {
    margin: 5%;
}

.product-top {
    display: block;
}

.product-bottom {
    font-size: 20px;
}

.product-name {
    display: block;
    height: auto;
    margin: 5%;
    font-size: 20px;
}

.card-custom {
    margin-top: 30px;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 10%;
}

.btn-flori {
    color: #fbb67f !important;
    background-color: #a53829;
    border-color: #a53829;
}

.btn-flori:hover {
    color: #a53829!important;
    background-color: #fbb67f;
    border-color: #fbb67f;
}

.form-to-cart {
    position: absolute;
    bottom: 5%;
    left: 10%;
    right: 10%;
}

.input-cart {
    width: 20px;
}

.discount {
    position: absolute;
    top: 35%;
    left: 0;
    background-color: lightgreen;
    width: 30%;
    color: white;
    font-weight: 700;
    padding: 3px;
}

.form-error {
    color: red;
}

/* SECTION DELIVERY */
.section-delivery {
    height: 300px;
    background-color: darkseagreen;
    text-align: center;
    color: white;
}

/* TAB DESCRIPTION */
.product-description-tabs {
    padding: 10px;
}


/* IMAGES IN PRODUCT.HTML */
.product-image-item {
    padding: 5px;
    margin-bottom: 5px;
}

/* LOGO */
.img-logo {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.f-400 {
    font-weight: 400;
}

.f-300 {
    font-weight: 300;
}

/* NUMBER INPUT */
.number-input input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input input[type=number]::-webkit-inner-spin-button,
.number-input input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input {
      display: flex;
      justify-content: space-around;
      align-items: center;
}

.number-input button {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0;
    position: relative;
}

.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    height: 2px;
    transform: translate(-50%, -50%);
}

.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
    text-align: center;
}

.number-input.number-input {
    border: 1px solid #ced4da;
    width: 10rem;
    border-radius: .25rem;
}

.number-input.number-input button {
    width: 2.6rem;
    height: .7rem;
}

.number-input.number-input button.minus {
    padding-left: 10px;
}

.number-input.number-input button:before,
.number-input.number-input button:after {
    width: .7rem;
    background-color: #495057;
}

.number-input.number-input input[type=number] {
    max-width: 4rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    height: 2rem;
    color: #495057;
}

@media not all and (min-resolution:.001dpcm) {
@supports (-webkit-appearance: none) and (stroke-color:transparent) {

.number-input.def-number-input.safari_only button:before,
.number-input.def-number-input.safari_only button:after {
    margin-top: -.3rem;
}
}
}

.thanks {
    height: 400px;
}

.custom-bottom {
    position: absolute;
    bottom: 0.5px;
}

.form-check-custom {
    margin-bottom: 5px;
}


/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}